ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */
.p{
  color: red;
}
.list1{
  font-size: 20px;
}
.p{
  font-size: 20px;
}
.note{
  font-size: 20px;
}
.list2{
  color: green;
}
.list2{
    font-size: 20px;
}
.list3{
  font-size: 20px;
}
.list3{
  color: blue;
}
*{
  text-align: center;
}